<!DOCTYPE html>
<html lang="pt_br"> <!-- Define o tipo de documento como HTML5 e o idioma como português do Brasil. -->
<head>
    <meta charset="UTF-8"> <!-- Define a codificação de caracteres como UTF-8, permitindo o uso de caracteres especiais. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura o layout responsivo para dispositivos móveis. -->
    <title>Estudo Flask - Camp Code</title> <!-- Define o título da página que será exibido na aba do navegador. -->
</head>
<body>
    <div> <!-- Início de uma seção de conteúdo. -->
        <h3>Estudo Flask</h3> <!-- Cabeçalho de nível 3 com o texto "Estudo Flask". -->
        <h5>@campcodebrasil</h5> <!-- Cabeçalho de nível 5 com o texto "@campcodebrasil". -->
    </div>

    <div> <!-- Início de outra seção de conteúdo. -->
        <p>Bem-vindo {{context.usuario}} a aula de Flask!!</p> <!-- Parágrafo com uma mensagem de boas-vindas. -->
        <p><b>Idade: </b>{{context.idade}}</p> <!--Context é o nome da biblioteca, idade é o nome da váriavel-->

        <a href="/nova/">Link Direto</a> <!-- Link direto para a rota "/nova/". -->
        <p> </p>
        <a href="{{url_for('newpage')}}">Link para nova página</a> <!-- Link gerado dinamicamente pelo Flask para a função de rota 'newpage'. -->
    </div>
</body>
</html>